/* .News-cards {
    margin: auto;
    
}
.News-cards-root {
    min-width: 200px;
    max-width: 600px;
    margin: 100px;
    /* align-items: center; */
    /* border-radius: 2px;
    overflow: hidden; */
/* }
.News-cards-category {
    font-size: 14pt;
}

.News-cards-comment {
    padding: 10px
}
.News-cards-emoji {
    padding: 5px
}
.News-cards-modal{
    box-shadow: 5px 10px #888888;
} */ 


.news-bubble {
    background-color: #a5aaab;
    border: 10px solid #7a8a8a;
    border-radius: 20px;
    /* width: 60%; */
    /* text-align: center; */
    padding: 20px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-bubble .news-arrow {
    border-style: solid;
    position: absolute;
}
 
.news-bottom {
    border-color: #7a8a8a transparent transparent transparent;
    border-width: 16px 16px 0px 16px;
    bottom: -20px;
}