.Appbar {
    color: green;
    background-color: blue;
}

.title{
    color: pink;
}

.AppBar-grow{
    flex: 1;
}

.AppBar-menuButton{
    margin-right: 20px;
}

.AppBar-title{
    display: none;
    display: block;
}