@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

.more-talk {
    font-size: 250% !important;
    font: 'Pacifico', cursive;
}

.Footer-link-white {
    text-decoration: none;
    color: white !important;

}